*{
    margin:0;
    padding:0;
}
body{
    background-color: black;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Left side of the app */
#leftside{
    margin:20px 10px 0px;
    background-color: rgb(159, 159, 159);
    display: flex;
    flex-direction: column;
    width:10%;
}
#top2widgets{
    background-color: rgb(109, 120, 129);
    padding:10px;
    margin-bottom:5px;
    width:auto;
    font-size:20px;
    border-radius: 5%;
}
#top2widgets p{
    padding:5px;
}

/* Selection */
#selection{
    background-color: rgba(179, 255, 255, 0.454);
}
#yourPlaylist{
    text-align: center;
    margin-bottom:10px;
}
/* Playlist images */
/* #playLists{
    display: inline;
} */
.playlist{
    border-radius: 5%;
    display: flex;
    padding:5px;
    margin-left:5px;
    background-color: aquamarine;
    font-size: 20px;
    align-items: center;
}
.playlist img{
    border-radius:20%;
    width:90px;
    height: 80px;
}
.playlist p{
    margin-left:10px;
}